.title {
    font-family: 'Righteous', cursive;
    color: rgb(0, 95, 119);
}

.letter {
    color: rgb(58, 207, 200);

}

h2 {
    font-family: 'Righteous', cursive;
}

.h1 {
    font-size: 40px;
    font-family: 'Righteous', cursive;
    color: rgb(58, 207, 200);
}

body {
    background-attachment: fixed;
    background-image: url("../images/drops.jpg");
    background-position: top center;
}

.btn {
    background-color: rgb(0, 95, 119);
}
#gamearea {
    color: rgb(0, 95, 119);
}

.border {
    height: 50px;
    padding-top: 12px;
    width: 70%;
}

.fa-question-circle {
    font-size: 300px;
}

img {
    width: 100%;
    border-radius: 5px;
}